<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Buscar cliente</title>
</head>
<body>
    <h1>Buscar cliente</h1>
    <form method="POST" action="/cli/busqueda">

        <label for="Cedula">Cedula:</label>
        <input type="number" name="Cedula" id="Cedula" required>

        <button type="submit">Buscar cliente</button>
    </form>
    <a href="/menu" class="btn btn-primary">Volver al Menú</a>
</body>
</html>