<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registrar cliente</title>
</head>
<body>
    <h1>Registrar cliente</h1>
    <form method="POST" action="/cli/registro">
        <label for="nombre">Nombre:</label>
        <input type="text" name="Nombre" id="Nombre" required>

        <label for="Apellido">Apellido:</label>
        <input type="text" name="Apellido" id="Apellido" required>

        <label for="Cedula">Cedula:</label>
        <input type="number" name="Cedula" id="Cedula" required>

        <button type="submit">Agregar Cliente</button>
    </form>
    <a href="/menu" class="btn btn-primary">Volver al Menú</a>
</body>
</html>