<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Elinminar cuenta</title>
</head>
<body>
    <h1>Elinminar cuenta</h1>
    <form method="DELETE" action="/cue/Eliminar">

        <label for="id">id:</label>
        <input type="number" name="id" id="id" required>

        <button type="submit">Eliminar cuenta</button>
    </form>
</body>
</html>