<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Editar cuenta</title>
</head>
<body>
    <h1>Editar cuenta</h1>
    <form method="PUT" action="/cue/Editar">

        <label for="id">id:</label>
        <input type="number" name="id" id="id" required>

        <label for="Tipo">Tipo:</label>
        <input type="text" name="Tipo" id="Tipo" required>

        <label for="Estado">Estado:</label>
        <input type="text" name="Estado" id="Estado" required>

        <button type="submit">Editar cuenta</button>
    </form>
</body>
</html>