<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registrar cuenta</title>
</head>
<body>
    <h1>Registrar cuenta</h1>
    <form method="POST" action="/cue/Registrar">
        <label for="nombre">Nombre:</label>
        <input type="text" name="Nombre" id="Nombre" required>

        <label for="Tipo">Tipo:</label>
        <input type="text" name="Tipo" id="Tipo" required>

        <label for="Estado">Estado:</label>
        <input type="text" name="Estado" id="Estado" required>

        <button type="submit">Agregar cuenta</button>
    </form>
</body>
</html>