<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Buscar factura</title>
</head>
<body>
    <h1>Buscar factura</h1>
    <form method="POST" action="/fac/Resultado">

        <label for="Fecha">Fecha:</label>
        <input type="date" name="Fecha" id="Fecha" required>

        <button type="submit">Buscar factura</button>
    </form>
</body>
</html>