<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Elinminar factura</title>
</head>
<body>
    <h1>Elinminar factura</h1>
    <form method="DELETE" action="/fac/eliminar">

        <label for="id">id:</label>
        <input type="number" name="id" id="id" required>

        <button type="submit">Eliminar factura</button>
    </form>
    <a href="/menu" class="btn btn-primary">Volver al Menú</a>
</body>
</html>