<!DOCTYPE html>
<html>
<head>
    <title>Menú</title>
</head>
<body>
    <h1>Bienvenido al Menú de opciones</h1>
    <ul>
        <li><a href="/cli">Mostrar Clientes</a></li>
        <li><a href="/prove">Mostrar Proveedores</a></li>
        <li><a href="/pro">Mostrar Productos</a></li>
        <li><a href="/fac">Mostrar Facturas</a></li>
        <li><a href="/cue">Mostrar Cuentas</a></li>
        <li><a href="/librom">Mostrar libro mayor</a></li>
        <li><a href="/librod">Mostrar libro diario</a></li>
        <li><a href="/transacciones">Mostrar transacciones</a></li>
        <li><a href="/cli/registro">Registrar Cliente</a></li>
        <li><a href="/prove/registro">Registrar Proveedor</a></li>
        <li><a href="/pro/registro">Registrar Productos</a></li>
        <li><a href="/fac/registro">Registrar Facturas</a></li>
        <li><a href="/cue/registro">Registrar Cuentas</a></li>
        <li><a href="/cue/editar">Editar Cuentas</a></li>
        <li><a href="/pro/editar">Editar Productos</a></li>
        <li><a href="/prove/editar">Editar Proveedores</a></li>
        <li><a href="/transaccion/editar">Editar transacciones</a></li>
        <li><a href="/cue/eliminar">Eliminar Cuentas</a></li>
        <li><a href="/fac/eliminar">Eliminar Factura</a></li>
        <li><a href="/pro/eliminar">Eliminar Productos</a></li>
        <li><a href="/cli/busqueda">Buscar Clientes por cedula</a></li>
        <li><a href="/fac/busqueda">Buscar Facturas por fecha</a></li>
        <li><a href="/librom/registro">Registrar datos en el libro mayor</a></li>
        <li><a href="/librod/registro">Registrar datos en el libro diario</a></li>
        <li><a href="/transacciones/registro">Registrar datos en transacciones</a></li>
    </ul>
</body>
</html>
