<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Editar producto</title>
</head>
<body>
    <h1>Editar producto</h1>
    <form method="PUT" action="/pro/editar">

        <label for="id">id:</label>
        <input type="number" name="id" id="id" required>

        <label for="Precio">Precio:</label>
        <input type="number" name="Precio" id="Precio" required>

        <label for="Stock">Stock:</label>
        <input type="number" name="Stock" id="Stock" required>

        <button type="submit">Editar producto</button>
    </form>
    <a href="/menu" class="btn btn-primary">Volver al Menú</a>
</body>
</html>