<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Eliminar producto</title>
</head>
<body>
    <h1>Eliminar producto</h1>
    <form method="DELETE" action="/pro/Eliminar">

        <label for="id">id:</label>
        <input type="number" name="id" id="id" required>

        <button type="submit">Eliminar producto</button>
    </form>
</body>
</html>