<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registrar producto</title>
</head>
<body>
    <h1>Registrar producto</h1>
    <form method="POST" action="/pro/registro">
        <label for="nombre">Nombre:</label>
        <input type="text" name="Nombre" id="Nombre" required>

        <label for="Precio">Precio:</label>
        <input type="number" name="Precio" id="Precio" required>

        <label for="Stock">Stock:</label>
        <input type="number" name="Stock" id="Stock" required>

        <button type="submit">Agregar producto</button>
    </form>
    <a href="/menu" class="btn btn-primary">Volver al Menú</a>
</body>
</html>