<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Editar proveedor</title>
</head>
<body>
    <h1>Editar proveedor</h1>
    <form method="PUT" action="/prove/Editar">

        <label for="id">id:</label>
        <input type="number" name="id" id="id" required>

        <label for="Nombre">Nombre:</label>
        <input type="text" name="Nombre" id="Nombre" required>

        <label for="Telefono">Telefono:</label>
        <input type="number" name="Telefono" id="Telefono" required>

        <label for="RIF">RIF:</label>
        <input type="number" name="RIF" id="RIF" required>

        <button type="submit">Editar proveedor</button>
    </form>
</body>
</html>