<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registrar proveedor</title>
</head>
<body>
    <h1>Registrar proveedor</h1>
    <form method="POST" action="/prove/Registrar">
        <label for="nombre">Nombre:</label>
        <input type="text" name="Nombre" id="Nombre" required>

        <label for="Telefono">Telefono:</label>
        <input type="number" name="Telefono" id="Telefono" required>

        <label for="RIF">RIF:</label>
        <input type="number" name="RIF" id="RIF" required>

        <button type="submit">Agregar proveedor</button>
    </form>
</body>
</html>